* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: 0;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    top: 0;
}

.logo {
    width: 124px;
    margin-top: 20px;
    color: white;
    font-weight: 500;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -15px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


/*jumbotron*/

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 100px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    /* background-color: blue; */
    background-size: cover;
    color: white;
    text-align: center;
    height: 350px;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 35px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

.poin {
    margin-left: 5px;
}